html {
    background-image: radial-gradient(ellipse closest-corner, #24283b, #1a1b26); 
    background-size: contain;
    background-attachment: fixed;

    color: #c0caf8;
    font-family: "Lato", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.125em;
}
